
<!-- FOOTER -->
<footer class="bgDark scrollShow" data-scroll-show-element-percent="80" >
    <div class="container">
        <img src="assets/images/logo-light.svg" class="logo" alt="logo">
        <ul class="list-inline">
            <li class="list-inline-item footer-menu"><a href="#">Home</a></li>
            <li class="list-inline-item footer-menu"><a href="#">Portfolio</a></li>
            <li class="list-inline-item footer-menu"><a href="#">About us</a></li>
            <li class="list-inline-item footer-menu"><a href="#">Pricing</a></li>
            <li class="list-inline-item footer-menu"><a href="#">Contact</a></li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg" class="img-fluid"></a>
            </li>
            <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg" class="img-fluid"></a>
            </li>
            <li class="list-inline-item"><a href="#"><img src="assets/images/youtube.svg" class="img-fluid"></a>
            </li>
            <li class="list-inline-item"><a href="#"><img src="assets/images/dribbble.svg" class="img-fluid"></a>
            </li>
            <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg" class="img-fluid"></a>
            </li>
        </ul>
        <small>©2020 All Rights Reserved. Created by <a href="https://themesbootstrap.com.mx/"
                class="font-weight-bold" target="_blank" rel="noopener">Themes Bootstrap</a></small>
    </div>
</footer>