/*  FOOTER  */
footer {
    padding: 80px 0;
    text-align: center;
    color: var(--white-color); }
.logo {
    max-width: 180px;
    min-width: 160px; } 
footer a {
    color: var(--white-color); }
footer a:hover {
    color: var(--white-color); }
footer .list-inline .list-inline-item {
    padding: 10px 15px; }
 