<!-- CONTACTO -->
<section id="contacto" >
    <!-- <enfold-animate name="shadowDropTB" duration="5" > -->
    <div class="container" style="padding: 35px"> 
        
        <div class="row">
            
            <div class="col-md-6 mt-4">
                <h3>Ready to accelerate your project? <b>just let us know.</b></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit veniam
                    mollitia aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum.
                    contact@smartagency.com</p>
            </div>
            <div class="col-md-6 mt-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="" placeholder="Nombre" [(ngModel)]="nombreInput">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="" placeholder="Apellido"  [(ngModel)]="apellidoInput">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="email" class="form-control" id="" placeholder="Email"  [(ngModel)]="emailInput">
                        </div>
                    </div>
                    <!-- <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="" placeholder="Company name">
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="number" class="form-control" id="" placeholder="Telefono (opcional)"  [(ngModel)]="telefonoInput">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a href="" class="btn btn-primary full-width form-control" (click)="enviar()"> Enviar </a>
                    </div>
                </div>
            </div>
        
        </div>
    
    </div>
 <!-- </enfold-animate>  -->
</section>