
    <!-- PORTFOLIO -->
    <section id="portfolio">
        <div class="container-fluid">
            <div class="content-center scrollShow" data-scroll-show-element-percent="70" >
                <h2>We work with exciting brands to build <b>amazing products.</b></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit veniam mollitia
                    aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum. Suscipit expedita obcaecati
                    nesciunt error ut quidem autem.</p>
            </div>

            <div class="content-center-portfolio ">
                <div class="row">
    
                    <div class="col-md-6 scrollShow" data-scroll-show-element-percent="70" >
                        <div class="portfolio-container">
                            <img src="assets/images/portfolio-01.jpg" class="img-fluid" alt="Portfolio 01">
                            <div class="portfolio-details">
                                 <h2>Keep Calm and Eat</h2>
                                 <p>— App/Digital Product</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 scrollShow" data-scroll-show-element-percent="70" >
                        <div class="portfolio-container">
                            <div class="portfolio-details">
                                 <h2>New Horizons</h2> 
                                 <p>— App/Digital Product</p> 
                            </div>
                            <img src="assets/images/portfolio-02.jpg" class="img-fluid" alt="Portfolio 02">
                        </div>
                    </div>
                    <div class="col-md-6 scrollShow" data-scroll-show-element-percent="70" >
                        <div class="portfolio-container">
                            <div class="portfolio-details">
                                
                                    <h2>Urban Oasis</h2>
                                
                                
                                    <p>— App/Digital Product</p>
                                
                            </div>
                            <img src="assets/images/portfolio-03.jpg" class="img-fluid" alt="Portfolio 03">
                        </div>
                    </div>
                    <div class="col-md-6 scrollShow" data-scroll-show-element-percent="70" >
                        <div class="portfolio-container">
                            <div class="portfolio-details">
                               
                                    <h2>No Speed Limits</h2>
                               
                                  <p>— App/Digital Product</p> 
                                
                            </div>
                            <img src="assets/images/portfolio-04.jpg" class="img-fluid" alt="Portfolio 04">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4 scrollShow" data-scroll-show-element-percent="70" >
                <p class="">Ready to accelerate your project?</p>
                <a href="#" class="text-dark"><b>Just let us know.</b></a>
            </div>
        </div>
    </section>
  