    <!-- HERO -->
    <section id="hero">
        <div class="container">

            <div class="content-center texto">
                <h1 class="mt-5"> Website Design and Development </h1>
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit
                    veniam mollitia
                    aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum.</p>
            </div>
            <!-- Carousel -->
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="4000">
                        <img src="assets/images/hero.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="assets/images/hero2.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="assets/images/hero3.jpg" class="d-block w-100">
                    </div>
                </div>
            </div>
        </div>

    </section>