<!-- NOSOTROS -->
<section id="nosotros" class="bgLightGrey">
    <div class="container">
        <div class="content-center scrollShow" data-scroll-show-element-percent="70" >
            <h2>Keep calm, you're in a <b>good company</b></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit veniam mollitia
                aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum. Suscipit expedita obcaecati
                nesciunt error ut quidem autem.</p>
        </div>
        
        <div class="row scrollShow" data-scroll-show-element-percent="30" >
            <div class="col-md-4">
                <!-- <enfold-animate name="slideRight" duration="2"> -->
                <div class="member-container">
                    <div class="member-details">
                        <h5>Michelle B. Rowe</h5>
                        <span>Creative director</span>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg" 
                                 class="img-fluid"></a> </li>
                            <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg"
                                        class="img-fluid"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="assets/images/youtube.svg"
                                        class="img-fluid"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="assets/images/dribbble.svg"
                                        class="img-fluid"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg"
                                        class="img-fluid"></a></li>
                        </ul>
                    </div>
                    <img src="assets/images/member-01.jpg" class="img-fluid" alt="member 1">
                </div>
            <!-- </enfold-animate> -->

            </div>
            <div class="col-md-4">
                <!-- <enfold-animate name="slideUp" duration="2"> -->
                <div class="member-container">
                    <div class="member-details">
                        <h5>Veronica D. Martin</h5>
                        <span>Lead designer</span>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg"
                                        class="img-fluid"></a>
                            </li>
                            <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg"
                                        class="img-fluid"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="assets/images/youtube.svg"
                                        class="img-fluid"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="assets/images/dribbble.svg"
                                        class="img-fluid"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg"
                                        class="img-fluid"></a></li>
                        </ul>
                    </div>
                    <img src="assets/images/member-02.jpg" class="img-fluid" alt="member 2">
                </div>
             <!-- </enfold-animate> -->
            </div>
            <div class="col-md-4">
                <!-- enfold-animate name="slideLeft" duration="2"> -->
                <div class="member-container">
                    <div class="member-details">
                        <h5>Richard A. Hair</h5>
                        <span>Lead developer</span>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#"><img src="assets/images/instagram.svg"
                                        class="img-fluid"></a>
                            </li>
                            <li class="list-inline-item"><a href="#"><img src="assets/images/twitter.svg"
                                        class="img-fluid"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="assets/images/youtube.svg"
                                        class="img-fluid"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="assets/images/dribbble.svg"
                                        class="img-fluid"></a></li>
                            <li class="list-inline-item"><a href="#"><img src="assets/images/facebook.svg"
                                        class="img-fluid"></a></li>
                        </ul>
                    </div>
                    <img src="assets/images/member-03.jpg" class="img-fluid" alt="member 3">
                </div>
            <!-- </enfold-animate> -->
            </div>
        </div>
      
    </div>
</section>